<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.SybaseDialect</property>
    <property name="hibernate.connection.driver_class">com.sybase.jdbc4.jdbc.SybDriver</property>
    <property name="hibernate.connection.url">jdbc:sybase:Tds:localhost:2639/library_test</property>
    <property name="hibernate.connection.username">DBA</property>
    <property name="hibernate.connection.password">dba</property>
    <property name="hibernate.format_sql">true</property>
    <property name="show_sql">true</property>
	
	<mapping class="com.weblib.hbm.model.Author" />
  </session-factory>
</hibernate-configuration>