@CHARSET "ISO-8859-1";

body {
	background-color: #EEE;
	margin: 0px;
	padding: 0px;
}

.booksContainer {
	margin: 40px auto;
}

.bookCard {
	margin: 8px auto;
	background-color: #FFF;
	width: 500px;
	height: auto;  
    box-shadow: 0px 2px 1px #B2C0CE;
}

.bookActions {
	width: inherit;
	height: 40px;
	border-top: 1px solid #BBB;
}

.bookImg img {
	width: 80px;
	height: 120px;
}

.bookImg {
	float: right;
	width: 80px;
	height: 120px;
	padding: 10px;
}

.bookHeader {
	width: 420px;
	height: 60px;
	color: #777;
    padding: 10px 0 0 10px;
}

.bookTitle {
	font-family: Arial;
	font-size: 30px;
	font-weight: normal;
	margin: 0px;
}

.bookAuthor {
	font-family: Arial;
	font-size: 18px;
	line-height: 18px;
	margin: 0px;
}

.bookPages {
	float: right;
	color: #999;
	font-size: 12px;
}

.bookDescription {
	margin: 0px;
	font-family: Arial;
	font-size: 12px;
	text-align: justify;
	color: #999;
	height: 60px;
	padding: 0 0 10px 10px;
}

